-# Project Header, only to be displayed when viewing a project

.project-header
  %ul
    %li
      = link_to bu_reel_path do
        Brooklyn United Reel
    %li
      = link_to illustrations_path do
        Illustrations
    %li
      = link_to tap_of_war_path do
        Tap of War
    %li
      = link_to vinyl_music_path do
        Vinyl Music
    %li
      = link_to dsb_path do
        Designer Sketchbooks
