.project-header.text-color-white
  .project-header-title Work
  .project-header-separator="|"
  .project-header-subtitle 3D Ventures

.project
  .project-main-image-container
    .project-main-image{style: "background-image: url('" + image_url("3D/magic_mouse.jpg") + "')"}
  .project-down-arrows
    = image_tag "carat-down-white.svg", width: "100%"

  .project-content
    .project-intro
      %h1.project-intro-title 3D Ventures
      .project-intro-work-types
        .project-intro-work-type 3D
        .project-intro-work-type-separator &bull;
        .project-intro-work-type Motion

    .project-section-video
      %iframe{src: "//player.vimeo.com/video/82479731", width: "500", height:"281", frameborder:"0", webkitallowfullscreen: "true", mozallowfullscreen: "true", allowfullscreen: "true"}
    %section.project-section
      .project-section-title 
        Moto
      .project-section-descript
        This is an animation I did to show off some future UI I did for a futuristic motorcycle. This was my first step into futuristic UI and 3D animation over a year ago. I am currently working on its spirtual successor, which I hope to have finished by the end of April.

    .project-section-video
      = image_tag "3D/project_mouse.jpg", width: "100%", alt: ""
    %section.project-section
      .project-section-title 
        Magic Mouse
      .project-section-descript
        This is my magic mouse that I modeled and rendered in 3D. It was a fun exercise to play around with lighting in Cinema, creating a professional product shot at the same time.   

    .project-section-video
      %iframe{src: "//player.vimeo.com/video/78348260", width: "500", height:"281", frameborder:"0", webkitallowfullscreen: "true", mozallowfullscreen: "true", allowfullscreen: "true"}"
    %section.project-section
      .project-section-title 
        Cyber
      .project-section-descript
        Cyber was a title sequence I built around a 3D stationary android head. Again, I mixed 2D animations on a 3D background with a little audio mixing.

    .project-footer
      .project-footer-more
        Thanks for checking out this project.
      .project-footer-text
        <a href="mailto:jpfairchild73@gmail.com">Email me</a> if you want to get in touch!
      .project-footer-smalltext
        Or, check out more projects below.

      .project-footer-other-projects
        .project-previews
          .project-preview
            = link_to bu_reel_path do
              = image_tag "reel2reel.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Brooklyn United
                  %h2.project-preview-subtitle
                    MOTION / VISUAL

          .project-preview
            = link_to tap_of_war_path do
              = image_tag "tapofwarvin.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Tap of War
                  %h2.project-preview-subtitle
                    IOS / UI / UX

          .project-preview
            = link_to dsb_path do
              = image_tag "dsb.jpg", width: "100%", class: "dsb"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Designer Sketchbook
                  %h2.project-preview-subtitle
                    UI / UX / CEO

          .project-preview
            = link_to vinyl_music_path do
              = image_tag "vinylcloseup.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Vinyl Music
                  %h2.project-preview-subtitle
                    IOS / UI / UX
          
          .project-preview
            = link_to illustrations_path do
              = image_tag "brifle.png", width: "100%"
              .project-preview-label.black
                .project-preview-label-container
                  %h1.project-preview-title
                    Illustrations
                  %h2.project-preview-subtitle
                    VECTOR / VISUAL
