.project-header.no-text-shadow
  .project-header-title Work
  .project-header-separator="|"
  .project-header-subtitle 3D Ventures

.project
  .project-main-image-container
    .project-main-image.illustration.contain{style: "background-image: url('" + image_url("brifle.png") + "')"}
  .project-down-arrows
    = image_tag "carat-down-black.svg", width: "100%"

  .project-content
    .project-intro
      %h1.project-intro-title 3D Ventures
      .project-intro-work-types
        .project-intro-work-type 3D
        .project-intro-work-type-separator &bull;
        .project-intro-work-type Motion

    .project-section-small-image
      = image_tag "illustrations/darksouls.png", width: "100%", alt: ""
    %section.project-section
      .project-section-title 
        Moto
      .project-section-descript
        This is an animation I did showing off some future UI I did for a futuristic cycle. This was my first step in to futuristic UI and 3D animation over a year ago. I am currently working on its spirtual son, which I hope to have finished by the end of April.

    .project-section-small-image
      = image_tag "illustrations/battle-rifle.png", width: "100%", alt: ""
    %section.project-section
      .project-section-title 
        Magic Mouse
      .project-section-descript
        This is my magic mouse that I modled and rendered in 3D. It was a fun exercise to play around with lighting in Cinema, creating a professional product shot at the same time.   

    .project-section-small-image
      = image_tag "illustrations/catchingfire.png", width: "100%", alt: ""
    %section.project-section
      .project-section-title 
        Cyber
      .project-section-descript
        Cyber was a title sequence I built around a 3D stationary andriod head. Again mixing 2D animations on a 3D background with a little audio mixing.

    .project-footer
      .project-footer-more
        Thanks for checking out this project!
      .project-footer-text
        <a href="mailto:jpfairchild73@gmail.com">Email me</a> if you want to get in touch!
      .project-footer-other-projects
        .project-footer-other-project
          = link_to :bu_reel do
            = image_tag "reel2reel.jpg"
        .project-footer-other-project
          = link_to :tap_of_war do
            = image_tag "tapofwarvin.jpg"
        .project-footer-other-project
          = link_to :dsb do
            = image_tag "dsb.jpg", class: "dsb"
        .project-footer-other-project
          = link_to :vinyl_music do
            = image_tag "vinylapp.jpg"
        .clearfix
