.project-header
  .project-header-title Work
  .project-header-separator="|"
  .project-header-subtitle Designer Sketchbooks

.project
  .project-content

    .project-footer
      .project-footer-smalltext
        We are still working on the game, so many things might change from now 'til the release. 
      .project-footer-text
        Like my work? <a href="mailto:jpfairchild73@gmail.com">Email me</a>
      .project-footer-more
        Or check out more
      .project-footer-other-projects
        .project-footer-other-project
          = link_to :bu_reel do
            = image_tag "reel2reel.jpg"
        .project-footer-other-project
          = link_to :illustrations do
            = image_tag "brifle.png"
        .project-footer-other-project
          = link_to :tap_of_war do
            = image_tag "tapofwarvin.jpg"
        .project-footer-other-project
          = link_to :vinyl_music do
            = image_tag "vinylapp.jpg"
        .clearfix
