.project-header.text-color-white
  .project-header-title Work
  .project-header-separator="|"
  .project-header-subtitle DSB

.project
  .project-main-image-container
    .project-main-image{style: "background-image: url('" + image_url("dsb.jpg") + "')"}
  .project-down-arrows
    = image_tag "carat-down-white.svg", width: "100%"

  .project-content
    .project-intro
      = image_tag "dsb/dsb-logo.png", class: "project-intro-image", alt: ""
      %h1.project-intro-title Designer Sketchbooks
      .project-intro-work-types
        .project-intro-work-type UI
        .project-intro-work-type-separator &bull;
        .project-intro-work-type UX
      .project-intro-descript
        Designer Sketchbooks is a company <a target="_blank" href="//rkiley.com/">Ryan Kiley</a>, Spencer Powell, <a target="_blank" href="//dnlswan.com/">Danny Swan</a> and I started this past year. We are making personalized sketchbooks built for designers to sketch and iterate their UX / UI ideas.
    .project-section-image
      = image_tag "dsb/dsb-wireframe.png", width: "100%", alt: ""

    %section.project-section
      .project-section-title 
        Dot Grids and Templates
      .project-section-descript
        All the sketchbooks we build have <b>dot grids</b> and <b>device templates</b> that give context to your ideas. The sketchbooks are tailored to suit your needs, and can be customized to include templates for iOS devices, Android devices, Desktop computers and even Smart Watches.
    
    .project-section-small-image.image-shadow
      = image_tag "dsb/dsb-website-mockup.jpg", width: "100%", alt: ""

    %section.project-section
      .project-section-title 
        Website Mockup
      .project-section-descript
        This is a mock up of the home page. We decided on the classic startup large header image with a single call to action, to drive the user to start customizing. As the user scrolls down the page, we show off the quality of these sketchbooks while highlighting their special features.

    .project-section-small-image.image-shadow
      = image_tag "dsb/dsb-team.jpg", width: "100%", alt: ""

    %section.project-section
      .project-section-title 
        The Team
      .project-section-descript
        I'm lucky enough to have amazingly talented friends who loved the idea as much as I did. We're all incredibly passionate about our work, but also have our own unique interests, which we highlighted here.

    .project-section-small-image.image-shadow
      = image_tag "dsb/dsb-prez-1.png", width: "100%", alt: ""
    .project-section-small-image.image-shadow
      = image_tag "dsb/dsb-prez-2.png", width: "100%", alt: ""
    .project-section-small-image.image-shadow
      = image_tag "dsb/dsb-prez-3.jpg", width: "100%", alt: ""

    %section.project-section
      .project-section-small-grid
        .project-section-half.vertical-align-top
          .project-section-title 
            Investor Deck
          .project-section-descript
            Making an investor deck helped us understand the project from an outside perspective. We had to combine all the research we had done, user experience surveys that we put out and our marketing plan into a concise deck and elevator speech.
        .project-section-half.vertical-align-top
          .project-section-title 
            In Conclusion
          .project-section-descript
            DSB is definitely my favorite project that I have ever done. Be sure to ask for a prototype if you see me around! We are still working hard on every aspect of the project and are hoping to have the website up in late April.

    .project-footer
      .project-footer-more
        Thanks for checking out this project!
      .project-footer-text
        <a href="mailto:jpfairchild73@gmail.com">Email me</a> if you want to get in touch!
      .project-footer-smalltext
        Or, check out more projects below.

      .project-footer-other-projects
        .project-previews
          .project-preview
            = link_to bu_reel_path do
              = image_tag "reel2reel.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Brooklyn United
                  %h2.project-preview-subtitle
                    MOTION / VISUAL

          .project-preview
            = link_to podcasts_path do
              = image_tag "podcasts.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Podcasts App Redesign
                  %h2.project-preview-subtitle
                    UI / UX
                    
          .project-preview
            = link_to tap_of_war_path do
              = image_tag "tapofwarvin.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Tap of War
                  %h2.project-preview-subtitle
                    IOS / UI / UX

          .project-preview
            = link_to vinyl_music_path do
              = image_tag "vinylcloseup.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Vinyl Music
                  %h2.project-preview-subtitle
                    IOS / UI / UX
          
          .project-preview
            = link_to illustrations_path do
              = image_tag "brifle.png", width: "100%"
              .project-preview-label.black
                .project-preview-label-container
                  %h1.project-preview-title
                    Illustrations
                  %h2.project-preview-subtitle
                    VECTOR / VISUAL

          .project-preview
            = link_to ventures_3d_path do
              = image_tag "3D/magic_mouse.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    3D Ventures
                  %h2.project-preview-subtitle
                    3D / Motion
