.project-header.no-text-shadow
  .project-header-title Work
  .project-header-separator="|"
  .project-header-subtitle Illustrations

.project
  .project-main-image-container
    .project-main-image.illustration.contain{style: "background-image: url('" + image_url("brifle.png") + "')"}
  .project-down-arrows
    = image_tag "carat-down-black.svg", width: "100%"

  .project-content
    .project-intro
      %h1.project-intro-title Illustration
      .project-intro-work-types
        .project-intro-work-type Vector
        .project-intro-work-type-separator &bull;
        .project-intro-work-type Visuals

    .project-section-small-image
      = image_tag "illustrations/Changbai.jpg", width: "100%", alt: ""
    %section.project-section
      .project-section-title 
        Changbai Vector Illustration
      .project-section-descript
        This is an illustration I did for my good friend Changbai Li. Together we worked on Tap of War, and when he asked for an icon for his website and business cards, I could not resist.

    .project-section-small-image
      = image_tag "illustrations/darksouls.png", width: "100%", alt: ""
    %section.project-section
      .project-section-title 
        Dark Souls 2
      .project-section-descript
        These are two swords my friend <a target="_blank" href="//etohehir.com/">Tom</a> and I made, both from the game Dark Souls 2. While I never had the skill to finish the game, I appreciate both its difficulty and its art style.

    .project-section-small-image
      = image_tag "illustrations/battle-rifle.png", width: "100%", alt: ""
    %section.project-section
      .project-section-title 
        Halo 2 Battle Rifle
      .project-section-descript
        This is a battle rifle from the Halo series of games that I remade in a flat style. My friend <a target="_blank" href="//rkiley.com/">Ryan</a> and I plan to make a set of these that are all different guns from Halo. 

    .project-section-small-image
      = image_tag "illustrations/catchingfire.png", width: "100%", alt: ""
    %section.project-section
      .project-section-title 
        The Hunger Games
      .project-section-descript
        I love the Mockingjay emblem, and those movies are some of my favorites. After I saw the second movie, I was inspired to create my own flat Mockingjay.

    .project-section-small-image
      = image_tag "illustrations/jp.png", width: "100%", alt: ""
    %section.project-section
      .project-section-title 
        Monogram
      .project-section-descript
        A monogram of my initials that I designed for myself. I love sharp-angled iconography because of the solid, powerful impression it makes.

    .project-section-small-image
      = image_tag "illustrations/killorder.gif", width: "100%", alt: ""
    %section.project-section
      .project-section-title 
        Ender's Game
      .project-section-descript
        After I saw Ender’s Game I wanted to try my hand at future style interfaces. I love <a href="http://www.ashthorp.com/" target="_blank">Ash Thorp</a> and <a href="http://www.gmunk.com/" target="_blank">Gmunk</a> &ndash; they were big inspirations for this animation.

    

    .project-footer
      .project-footer-more
        Thanks for checking out this project!
      .project-footer-text
        <a href="mailto:jpfairchild73@gmail.com">Email me</a> if you want to get in touch!
      .project-footer-smalltext
        Or, check out more projects below.

      .project-footer-other-projects
        .project-previews
          .project-preview
            = link_to bu_reel_path do
              = image_tag "reel2reel.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Brooklyn United
                  %h2.project-preview-subtitle
                    MOTION / VISUAL

          .project-preview
            = link_to tap_of_war_path do
              = image_tag "tapofwarvin.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Tap of War
                  %h2.project-preview-subtitle
                    IOS / UI / UX

          .project-preview
            = link_to dsb_path do
              = image_tag "dsb.jpg", width: "100%", class: "dsb"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Designer Sketchbook
                  %h2.project-preview-subtitle
                    UI / UX / CEO

          .project-preview
            = link_to vinyl_music_path do
              = image_tag "vinylcloseup.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Vinyl Music
                  %h2.project-preview-subtitle
                    IOS / UI / UX

          .project-preview
            = link_to ventures_3d_path do
              = image_tag "3D/magic_mouse.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    3D Ventures
                  %h2.project-preview-subtitle
                    3D / Motion
