.project-header.text-color-white
  .project-header-title Work
  .project-header-separator="|"
  .project-header-subtitle Podcasts

.project
  .project-main-image-container
    .project-main-image{style: "background-image: url('" + image_url("podcasts.jpg") + "')"}
  .project-down-arrows
    = image_tag "carat-down-white.svg", width: "100%"

  .project-content
    %section.project-section.bg-color-dark
      .grid-container.grid-limit
        .grid-half
          .project-intro
            = image_tag "podcasts/podcast_icon.png", class: "project-intro-image", alt: ""
            %h1.project-intro-title Podcasts
            .project-intro-work-types.small
              .project-intro-work-type UI
              .project-intro-work-type-separator &bull;
              .project-intro-work-type UX 
            .project-intro-descript.small.black
              I love listening to Podcasts. Podcasts like Radiolab, The Collective, and Ted Talks are eye opening and among my favorites. Unfortunately there doesn’t seem to be a well designed Podcast app on iOS for the serial podcast listener (pun intended). Below are screen shots of the current Apple made app, my thoughts and concerns, and my solutions to many of the problems I think it has.
        .grid-half
          .project-screenshots-2
            = image_tag "podcasts/Main_Page.jpg", class: "project-screenshot", alt: ""
            = image_tag "podcasts/Collective_downloaded.jpg", class: "project-screenshot", alt: ""

    %section.project-section
      .grid-container.align-top.grid-limit.extra-padding
        .grid-half
          .project-screenshots-2
            .project-section-title.small.screenshots-label
              iOS Podcasts
            = image_tag "podcasts/IOS_unplayed.jpg", class: "project-screenshot", alt: ""
            = image_tag "podcasts/IOS_options.jpg", class: "project-screenshot", alt: ""

        .grid-half
          .project-section-title.small 
            The Problem
          .project-section-descript.small-text.small-width
            When I design anything, I think about problems that need to be solved. Either in an app I’m remaking or starting from scratch, my process of design starts by defining and designing around problems. When you look at the Apple default Podcast app, many of the features and workflow can be improved.
          .project-section-title.small 
            Downloading
          .project-section-descript.small-text.small-width
            One major pain point I found myself loathing about the app was an easy way to sort downloaded and un-downloaded episodes of a podcast. Take Radiolab for instance: the two lists are “unplayed” and “feed.” Downloading the entire feed of a podcast is wasting storage space and impossible for huge podcasts like Ted Talks. Yet I can’t view only the podcasts I’ve downloaded, I can only see an icon for un-downloaded and episodes I haven’t listened to yet. If I save an episode, where does it go? Much of the fuctionality just doesn’t make sense. 

    .project-section-title.small 
      My Wireframes
    .project-section-descript.small-text
      I prioritized a top tab bar that lets you see episodes you have downloaded so you can easily download the podcasts you want to listen to, and remove them when you are done. You can also see how many episodes you have downloaded from the main screen. A download page alerts you when new episodes of podcasts you follow come out.  
      
    %section.project-section
      .project-screenshots-3
        = image_tag "podcasts/_wireframe_main.jpg", class: "project-screenshot", alt: ""
        = image_tag "podcasts/_wireframe_radiolab_all.jpg", class: "project-screenshot", alt: ""
        = image_tag "podcasts/_wireframe_radiolab_downloaded.jpg", class: "project-screenshot", alt: ""
        = image_tag "podcasts/_wireframe_sidenav.jpg", class: "project-screenshot", alt: ""
        = image_tag "podcasts/_wireframe_browse.jpg", class: "project-screenshot", alt: ""
        = image_tag "podcasts/_wireframe_subscriptions.jpg", class: "project-screenshot", alt: ""

    %section.project-section.bg-color-dark
      .project-section-title.small 
        The Dark Side
      .project-section-descript.small-text
        I feel like there is a lack of dark interfaces in apps right now. It’s getting better, Spotify recently joined the dark side, but there could be so many clean dark interfaces if more people tried out dark UI. I also went with a blue accent color and stuck to the apple full dot = unplayed idea.

      .project-screenshots-3
        = image_tag "podcasts/Main_Page.jpg", class: "project-screenshot", alt: ""
        = image_tag "podcasts/Radio_Lab_all.jpg", class: "project-screenshot", alt: ""
        = image_tag "podcasts/Radio_Lab_downloaded.jpg", class: "project-screenshot", alt: ""
        = image_tag "podcasts/Collective_downloaded.jpg", class: "project-screenshot", alt: ""
        = image_tag "podcasts/Collective_Selected.jpg", class: "project-screenshot", alt: ""
        = image_tag "podcasts/Collective_Remove.jpg", class: "project-screenshot", alt: ""
        = image_tag "podcasts/side_nav.jpg", class: "project-screenshot", alt: ""
        = image_tag "podcasts/Browse.jpg", class: "project-screenshot", alt: ""
        = image_tag "podcasts/play.jpg", class: "project-screenshot", alt: ""

    .project-footer.dark
      .project-footer-more
        Thanks for checking out this project!
      .project-footer-text
        <a href="mailto:jpfairchild73@gmail.com">Email me</a> if you want to get in touch!
      .project-footer-smalltext
        Or, check out more projects below.

    .project-footer-other-projects
      .project-previews
        .project-preview
          = link_to bu_reel_path do
            = image_tag "reel2reel.jpg", width: "100%"
            .project-preview-label
              .project-preview-label-container
                %h1.project-preview-title
                  Brooklyn United
                %h2.project-preview-subtitle
                  MOTION / VISUAL

        .project-preview
          = link_to tap_of_war_path do
            = image_tag "tapofwarvin.jpg", width: "100%"
            .project-preview-label
              .project-preview-label-container
                %h1.project-preview-title
                  Tap of War
                %h2.project-preview-subtitle
                  IOS / UI / UX

        .project-preview
          = link_to dsb_path do
            = image_tag "dsb.jpg", width: "100%", class: "dsb"
            .project-preview-label
              .project-preview-label-container
                %h1.project-preview-title
                  Designer Sketchbook
                %h2.project-preview-subtitle
                  UI / UX / CEO
        
        .project-preview
          = link_to vinyl_music_path do
            = image_tag "vinylcloseup.jpg", width: "100%"
            .project-preview-label
              .project-preview-label-container
                %h1.project-preview-title
                  Vinyl Music
                %h2.project-preview-subtitle
                  IOS / UI / UX

        .project-preview
          = link_to illustrations_path do
            = image_tag "brifle.png", width: "100%"
            .project-preview-label.black
              .project-preview-label-container
                %h1.project-preview-title
                  Illustrations
                %h2.project-preview-subtitle
                  VECTOR / VISUAL

        .project-preview
          = link_to ventures_3d_path do
            = image_tag "3D/magic_mouse.jpg", width: "100%"
            .project-preview-label
              .project-preview-label-container
                %h1.project-preview-title
                  3D Ventures
                %h2.project-preview-subtitle
                  3D / Motion
