.project-header.text-color-white
  .project-header-title Work
  .project-header-separator="|"
  .project-header-subtitle Vinyl Music

.project
  .project-main-image-container
    .project-main-image{style: "background-image: url('" + image_url("vinyl/vinylapp_wide.jpg") + "')"}
  .project-down-arrows
    = image_tag "carat-down-white.svg", width: "100%"

  .project-content
    .project-intro
      %h1.project-intro-title Vinyl Music
      .project-intro-work-types
        .project-intro-work-type UI
        .project-intro-work-type-separator &bull;
        .project-intro-work-type UX 

    .project-section-image
      = image_tag "vinyl/iphones.jpg", width: "100%", alt: ""

    %section.project-section
      .project-section-title 
        The Idea
      .project-section-descript
        I have always wanted to make a music app. I redid the Spotify app some years ago and I keep my eyes on all music apps coming out on iOS. The huge difference with this app is the ability rewind and fast forward a song by spinning the vinyl.

    %section.project-section
      .project-section-image
        = image_tag "vinyl/icons.png", width: "100%", alt: ""

    %section.project-section
      .project-section-small-grid
        .project-section-half
          .project-section-image
            %video{:autoplay=>true, :controls=>true, :loop=>true, :poster=>"#{image_url 'vinyl/vinyl-poster-img.jpg'}"}
              %source{:src=>"#{image_url 'https://fat.gfycat.com/MealyBreakableAmericanpainthorse.mp4'}", :type=>"video/mp4"}
              %source{:src=>"#{image_url 'https://fat.gfycat.com/MealyBreakableAmericanpainthorse.webm'}", :type=>"video/webm"}
              Looks like your browser doesn't support HTML5 video! Go download an up-to-date browser.
        .project-section-half
          .project-section-descript
            Spinning an album to rewind and fast forward is what separates this app from any other music app. This unique feature both saves space and is easier to use.
          .project-section-descript
            Being able to spin the album instead of using a finnicky slider gives this app a ton more visual breathing room than other music apps. For example, Spotify doesn’t even put the volume bar in the song screen because there isn’t enough space. 

    .project-footer
      .project-footer-more
        Thanks for checking out this project!
      .project-footer-text
        <a href="mailto:jpfairchild73@gmail.com">Email me</a> if you want to get in touch!
      .project-footer-smalltext
        Or, check out more projects below.

      .project-footer-other-projects
        .project-previews
          .project-preview
            = link_to bu_reel_path do
              = image_tag "reel2reel.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Brooklyn United
                  %h2.project-preview-subtitle
                    MOTION / VISUAL

          .project-preview
            = link_to podcasts_path do
              = image_tag "podcasts.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Podcasts App Redesign
                  %h2.project-preview-subtitle
                    UI / UX
                    
          .project-preview
            = link_to tap_of_war_path do
              = image_tag "tapofwarvin.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Tap of War
                  %h2.project-preview-subtitle
                    IOS / UI / UX

          .project-preview
            = link_to dsb_path do
              = image_tag "dsb.jpg", width: "100%", class: "dsb"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    Designer Sketchbook
                  %h2.project-preview-subtitle
                    UI / UX / CEO
          
          .project-preview
            = link_to illustrations_path do
              = image_tag "brifle.png", width: "100%"
              .project-preview-label.black
                .project-preview-label-container
                  %h1.project-preview-title
                    Illustrations
                  %h2.project-preview-subtitle
                    VECTOR / VISUAL

          .project-preview
            = link_to ventures_3d_path do
              = image_tag "3D/magic_mouse.jpg", width: "100%"
              .project-preview-label
                .project-preview-label-container
                  %h1.project-preview-title
                    3D Ventures
                  %h2.project-preview-subtitle
                    3D / Motion
