.project-header.text-color-white
  .project-header-title Work
  .project-header-separator="|"
  .project-header-subtitle Vinyl Music

.project
  .project-main-image-container
    .project-main-image{style: "background-image: url('" + image_url("vinyl/vinylapp_wide.jpg") + "')"}
  .project-down-arrows
    = image_tag "carat-down-white.svg", width: "100%"

  .project-content
    .project-intro
      %h1.project-intro-title Vinyl Music
      .project-intro-work-types
        .project-intro-work-type UI
        .project-intro-work-type-separator &bull;
        .project-intro-work-type UX 

    .project-section-image
      = image_tag "vinyl/iphones.jpg", width: "100%", alt: ""

    %section.project-section
      .project-section-title 
        The Idea
      .project-section-descript
        I have always wanted to make a music app. I redid the Spotify app some years ago and I keep my eyes on all music apps coming out on iOS. The huge difference with this app is the ability rewind and fast forward a song by spinning the vinyl.

    %section.project-section
      .project-section-image
        = image_tag "vinyl/icons.png", width: "100%", alt: ""

    %section.project-section
      .project-section-small-grid
        .project-section-half
          .project-section-image
            %video{:controls=>true, :loop=>true, :poster=>"#{image_url 'vinyl/vinyl-poster-img.jpg'}"}
              %source{:src=>"#{image_url 'vinyl/vinylmusic.mp4'}", :type=>"video/mp4"}
              %source{:src=>"#{image_url 'vinyl/vinylmusic.webm'}", :type=>"video/webm"}
              %source{:src=>"#{image_url 'vinyl/vinylmusic.ogv'}", :type=>"video/ogg"}
              Looks like your browser doesn't support HTML5 video! Go download an up-to-date browser.
        .project-section-half
          .project-section-descript
            Spinning an album to rewind and fast forward is what separates this app from any other music app. This unique feature both saves space and is easier to use.
          .project-section-descript
            Being able to spin the album instead of using a finnicky slider gives this app a ton more visual breathing room than other music apps. For example, Spotify doesn’t even put the volume bar in the song screen because there isn’t enough space. 

    .project-footer
      .project-footer-more
        Thanks for checking out this project!
      .project-footer-text
        <a href="mailto:jpfairchild73@gmail.com">Email me</a> if you want to get in touch!
      .project-footer-other-projects
        .project-footer-other-project
          = link_to :bu_reel do
            = image_tag "reel2reel.jpg"
        .project-footer-other-project
          = link_to :tap_of_war do
            = image_tag "tapofwarvin.jpg"
        .project-footer-other-project
          = link_to :dsb do
            = image_tag "dsb.jpg", class: "dsb"
        .project-footer-other-project
          = link_to :illustrations do
            = image_tag "brifle.png"
        .clearfix
