#about
  .intro-card.intro-card-blue
    .container
      .content.full-height
        .rocket-ship
          = image_tag "rocket-ship.svg", width: "100%", class: "halfWow fadeInUp"
        .intro-card-descript.intro-card-descript-middle.halfWow.fadeIn
          %h2.intro-card-small_title Interactive &amp; Motion Designer
          %p.intro-card-small_details I am an Interaction Designer who craves designing awesome user experiences. I do UI, UX and Motion.
        .clouds
          = image_tag "streaks.svg", width: "100%", class: "wow zoomIn"

  .intro-card.intro-card-blue.computer-card
    .content.halfWow.fadeIn
      .grid-container
        .grid-half
          .intro-card-descript.halfWow.fadeIn
            %h2.intro-card-small_title I Get Excited
            %p.intro-card-small_details I love being inspired. I get inspired by Movies, Websites, Designs, anything that comes off the screen and makes me scream, laugh or cry.
        .grid-half
          .computer.halfWow.fadeInRight
            .computer-illustrations
              .space.halfWow.fadeIn{:data => {'wow-delay' => "1s"}}
                = image_tag "space.svg"
              .snowboard.wow.fadeIn{:data => {'wow-delay' => "1.5s"}}
                = image_tag "snowboard.svg"

            = image_tag "computer.svg", class: "computer-img"

  .about-section
    .container
      .grid-container
        .grid-half
          .about-image-container
            .about-image
              = image_tag "about/jpfairchild.jpg", width: "100%"
        .grid-half
          .about-descript
            %h2.title
              Nice to meet you!
            %p.subtitle
              I'm a member of RIT's New Media Design class of 2015. I grew up in the NYC area, and I love snowboarding, vinyl, indie rock and e-sports. 
            %p.subtitle
              I have a multi-disciplinary skillset including Visual Design, Motion Graphics, Illustration, Audio Mixing and 3D.
            