#about

  .intro-card.intro-card-blue.computer-card
    .content.wow.fadeIn
      .grid-container
        .grid-half
          .computer.wow.fadeInLeft
            .computer-illustrations
              .space.wow.fadeIn{:data => {'wow-delay' => "1s"}}
                = image_tag "space.svg"
              .snowboard.wow.fadeIn{:data => {'wow-delay' => "1.5s"}}
                = image_tag "snowboard.svg"
            = image_tag "computer.svg", class: "computer-img"
        .grid-half.introduction
          .intro-card-descript.wow.fadeIn{:data => {'wow-delay' => "2s"}}
            %h2.intro-card-small_title Hello!
            %p.intro-card-small_details I&rsquo;m JP
            .project-down-arrows.about
              = image_tag "carat-down-white.svg", width: "100%"          

  .about-section
    .container
      .grid-container
        .grid-half
          .about-image-container
            .about-image
              = image_tag "about/jpfairchild.jpg", width: "100%"
        .grid-half
          .about-descript
            %h2.title
              Nice to meet you!
            %p.subtitle
              A little about myself 
            %p.text
              I love being <span>Inspired</span>. I get inspired by movies, websites, designs &ndash; anything that comes off the screen and makes me scream, laugh or cry. I grew up in the NYC area and I love snowboarding, vinyl, indie rock, and oxford commas.
            %p.text
              I have a multi-disciplinary skillset including Visual Design, Motion Graphics, Illustration, Audio Mixing and 3D. If you want to check out what I'm listening to, or see what I'm currently inspired by, follow me!
            %ul.about-socials
              %li
                = link_to "mailto:jpfairchild73@gmail.com", target: "_blank" do
                  = fa_icon "paper-plane", class: "small"
              %li
                = link_to "https://twitter.com/jpfairchild", target: "_blank" do
                  = fa_icon "twitter"
              %li
                = link_to "http://oneaday.jpfairchild.com/", target: "_blank" do
                  = fa_icon "tumblr"
              %li
                = link_to "https://dribbble.com/jpfairchild", target: "_blank" do
                  = fa_icon "dribbble"
              %li
                = link_to "http://www.linkedin.com/in/jpfairchild", target: "_blank" do
                  = fa_icon "linkedin"
              %li
                = link_to "http://pinterest.com/jpfairchild", target: "_blank" do
                  = fa_icon "pinterest"
              %li
                = link_to "https://last.fm/user/jpmeister", target: "_blank" do
                  = fa_icon "lastfm"
            