-# App Homepage

.header-title
  .title
    JP Fairchild
  .subtitle
    UI <span>/</span> UX <span>/</span> Motion

.project-previews
  .project-preview
    = link_to dsb_path do
      = image_tag "dsb.jpg", width: "100%", class: "dsb"

  .project-preview
    = link_to bu_reel_path do
      = image_tag "reel2reel.jpg", width: "100%"

  .project-preview
    = link_to tap_of_war_path do
      = image_tag "tapofwarvin.jpg", width: "100%"

  .project-preview
    = link_to illustrations_path do
      = image_tag "brifle.png", width: "100%"

  .project-preview
    = link_to vinyl_music_path do
      = image_tag "vinylcloseup.jpg", width: "100%"
