-# App Homepage

.intro-card
  .container
    .content
      .intro-card-text
        %h1.intro-card-title.wow.fadeInLeft JP Fairchild
        %h2.intro-card-subtitle.wow.fadeIn{:data => {'wow-delay' => "1s"}} New Media Designer
        %p.intro-card-details.wow.fadeIn{:data => {'wow-delay' => "1s"}} A Passion for Design, Tech and Life
  .intro-card-down-arrows
    = image_tag "double_carat-down.svg", width: "100%"

.project-previews
  .project-preview
    = link_to bu_reel_path do
      = image_tag "reel2reel.jpg", width: "100%"

  .project-preview
    = link_to illustrations_path do
      = image_tag "brifle.png", width: "100%"

  .project-preview
    = link_to tap_of_war_path do
      = image_tag "tapofwarvin.jpg", width: "100%"

  .project-preview
    = link_to vinyl_music_path do
      = image_tag "iphone-vinylapp.png", width: "100%"

  .project-preview
    = link_to dsb_path do
      = image_tag "dsb.png", width: "100%"
