-# App Homepage

.header-title
  .title
    DangerCat
  .subtitle
    UI <span>/</span> UX <span>/</span> Motion

.project-previews
  .project-preview
    = link_to bu_reel_path do
      = image_tag "reel2reel.jpg", width: "100%"
      .project-preview-label
        .project-preview-label-container
          %h1.project-preview-title
            Brooklyn United
          %h2.project-preview-subtitle
            MOTION / VISUAL

  .project-preview
    = link_to podcasts_path do
      = image_tag "podcasts.jpg", width: "100%"
      .project-preview-label
        .project-preview-label-container
          %h1.project-preview-title
            Podcasts App
          %h2.project-preview-subtitle
            UI / UX

  .project-preview
    = link_to tap_of_war_path do
      = image_tag "tapofwarvin.jpg", width: "100%"
      .project-preview-label
        .project-preview-label-container
          %h1.project-preview-title
            Tap of War
          %h2.project-preview-subtitle
            IOS / UI / UX

  .project-preview
    = link_to dsb_path do
      = image_tag "dsb.jpg", width: "100%", class: "dsb"
      .project-preview-label
        .project-preview-label-container
          %h1.project-preview-title
            Designer Sketchbook
          %h2.project-preview-subtitle
            UI / UX / CEO

  .project-preview
    = link_to vinyl_music_path do
      = image_tag "vinylcloseup.jpg", width: "100%"
      .project-preview-label
        .project-preview-label-container
          %h1.project-preview-title
            Vinyl Music
          %h2.project-preview-subtitle
            IOS / UI / UX
  
  .project-preview
    = link_to illustrations_path do
      = image_tag "brifle.png", width: "100%"
      .project-preview-label.black
        .project-preview-label-container
          %h1.project-preview-title
            Illustrations
          %h2.project-preview-subtitle
            VECTOR / VISUAL

  .project-preview
    = link_to ventures_3d_path do
      = image_tag "3D/magic_mouse.jpg", width: "100%"
      .project-preview-label
        .project-preview-label-container
          %h1.project-preview-title
            3D Ventures
          %h2.project-preview-subtitle
            3D / Motion
            