!!!
%html
  %head

    %title JP Fairchild

    / Meta Viewport & SEO
    %meta{:name=>"viewport", :content=>"width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"}/
    %meta{:name=>"description", :content=>"I am a New Media Designer with a passion for the web and design. I have a multi-disciplinary skillset including Visual Design, Motion Graphics, Illustration, Audio Mixing and 3D."}/
    %meta{:name=>"keywords", :content=>"portfolio, design, 3D, interface design, UI, UX, user interface, web design, RIT, Rochester, JP, Fairchild, new media, new, media, ny, new york, designer, web, interface, video games, game, brooklyn, nyc, new york city"}/

    / Twitter Card
    %meta{:name=>"twitter:card", :content=>"summary_large_image"}
    %meta{:name=>"twitter:site", :content=>"@jpfairchild"}
    %meta{:name=>"twitter:title", :content=>"JP Fairchild"}
    %meta{:name=>"twitter:description", :content=>"I am a New Media Designer with a passion for the web and design. I have a multi-disciplinary skillset including Visual Design, Motion Graphics, Illustration, Audio Mixing and 3D."}
    %meta{:name=>"twitter:creator", :content=>"@etohehir"}
    %meta{:name=>"twitter:image", :content=>"#{image_url('meta-image.jpg')}"}

    / Open Graph
    %meta{:property=>"og:title", :content=>"JP Fairchild"}
    %meta{:property=>"og:type", :content=>"article"}
    %meta{:property=>"og:url", :content=>"http://jpfairchild.com/"}
    %meta{:property=>"og:image", :content=>"#{image_url('meta-image.jpg')}"}
    %meta{:property=>"og:description", :content=>"I am a New Media Designer with a passion for the web and design. I have a multi-disciplinary skillset including Visual Design, Motion Graphics, Illustration, Audio Mixing and 3D." }
    %meta{:property=>"og:site_name", :content=>"JP Fairchild"}

    / Favicon
    %link{:rel=>"icon", :href=>"favicon.ico", :type=>"image/x-icon"}

    / Google Analytics
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48533340-1', 'jpfairchild.com');
      ga('send', 'pageview');

    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

  %body
    = render "shared/header"
    = yield
    = javascript_include_tag 'application'
